<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Accounts</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>All Accounts</h1>
    <ul>
        <li th:each="account : ${accounts}">
            <a th:href="@{/accounts/{id}(id=${account.id})}" th:text="${account.accountName}"></a>
        </li>
    </ul>
</body>
</html>
